# I will use a mix of Google and linux-kernal style guide.
BasedOnStyle: Google
Language: Cpp
Cpp11BracedListStyle: true
IndentWidth: 4
ColumnLimit: 100
BreakBeforeBraces: Linux
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignOperands: true
AllowShortFunctionsOnASingleLine: Empty
DerivePointerAlignment: false
PointerAlignment: Left