dist: trusty
sudo: required
language: cpp

notifications:
 email: false

matrix:
  include:
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-9
      env:
        - MATRIX_EVAL="CC=gcc-9 && CXX=g++-9"
#    - os: osx
#      osx_image: xcode11.2
#      env:
#        - MATRIX_EVAL="brew update && (brew outdated gcc6 || brew upgrade gcc6) && brew install gcc6 && CC=gcc-6 && CXX=g++-6"

before_install:
  - eval "${MATRIX_EVAL}"

script:
 - cmake --version
 - mkdir build
 - cd build
 - cmake ..
 - cmake --build . -- -j4
 - ctest --output-on-failure
