name: C++23 Ubuntu Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        compiler:
          - { cc: gcc-15, cxx: g++-15 }
          - { cc: clang-17, cxx: clang++-17 }
        build_type: [Release]
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        submodules: recursive
    
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          cmake \
          ninja-build \
          ${{ matrix.compiler.cc }} \
          ${{ matrix.compiler.cxx }}
    
    - name: Configure CMake
      env:
        CC: ${{ matrix.compiler.cc }}
        CXX: ${{ matrix.compiler.cxx }}
      run: |
        cmake -B build \
          -G Ninja \
          -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \
          -DCMAKE_CXX_STANDARD=23 \
          -DCMAKE_CXX_STANDARD_REQUIRED=ON \
          -DCMAKE_CXX_EXTENSIONS=OFF \
          -DHMDF_TESTING=ON \
          -DHMDF_EXAMPLES=ON \
          -DHMDF_BENCHMARKS=ON
    
    - name: Build
      run: cmake --build build --config ${{ matrix.build_type }} -j $(nproc)
    
    - name: Run tests
      working-directory: build
      run: ctest --output-on-failure --build-config ${{ matrix.build_type }}
